
        <div class="wrapper-page account-page-full">

          <div class="card">
              <div class="card-block">

                  <div class="account-box">

                      <div class="card-box p-5">
                          <h2 class="text-uppercase text-center pb-4">
                              <a href="index.html" class="text-success">
                                  <span><img src="assets/logo.png" alt="" height="26"></span>
                              </a>
                          </h2>

                          <form method="POST" action="" #userPost="ngForm" [formGroup]="profileForm" (ngSubmit)="Submit(userPost)">

                              <div class="form-group m-b-20 row d-flex justify-content-center">
                                  <div class="col-md-6 col-sm-8">
                                      <label for="emailaddress">Email address</label>
                                      <input class="form-control" type="email" id="emailaddress" formControlName="email" required="" placeholder="Enter your email">
                                  </div>
                              </div>

                              <div class="form-group row m-b-20 d-flex justify-content-center">
                                  <div class="col-md-6 col-sm-8">
                                      <a href="page-recoverpw.html" class="text-muted float-right"><small>Forgot your password?</small></a>
                                      <label for="password">Password</label>
                                      <input class="form-control" type="password" required="" id="password" formControlName="password" placeholder="Enter your password">
                                  </div>
                              </div>

                              <div class="form-group row m-b-20 d-flex justify-content-center">
                                  <div class="col-md-6 col-sm-8">

                                      <div class="checkbox checkbox-custom">
                                          <input id="remember" type="checkbox" checked="">
                                          <label for="remember" style="margin-left:10px">
                                              Remember me
                                          </label>
                                      </div>

                                  </div>
                              </div>

                              <div class="form-group row text-center m-t-10 d-flex justify-content-center">
                                  <div class="col-md-6 col-sm-8" >
                                      <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" [disabled]="!profileForm.valid">Sign In</button>
                                  </div>
                              </div>

                          </form>

                          <div class="row m-t-50 d-flex justify-content-center">
                              <div class="col-md-6 col-sm-8 text-center">
                                  <p class="text-muted">Don't have an account? <a href="page-register.html" class="text-dark m-l-5"><b>Sign Up</b></a></p>
                              </div>
                          </div>

                      </div>
                  </div>

              </div>
          </div>

          <div class="m-t-40 text-center">
              <p class="account-copyright">2050 © Highdmin. - Coderthemes.com - Hoàng Toni đã ghé thăm nơi đây :v</p>
          </div>

      </div>
