<main>
  <header class="container">
    <app-cart-header [numberItems]="numberItems"></app-cart-header>
  </header>

  <section class="container">
    <app-product-list [products]="products" (onRemoveProduct)="removeProduct($event)" (onUpdateQuantity)="updateQuantity($event)"></app-product-list>
  </section>

  <section class="container">
    <app-promo-code (onHandleApplyPromoCode)="handleApplyPromoCode($event)"></app-promo-code>

    <app-cart-summary [subTotal]="subTotal" [tax]="tax" [total]="total" [discount]="discount" [discountPercent]="discountPercent"></app-cart-summary>
  </section>

  <!-- <div class="content">
    <div class="container-fluid">
      <app-login [title]="title" (onSubmit)="Submit($event)"></app-login>
    </div>
  </div> -->

</main>
